<p>
  <strong>Category_name:</strong>
  <%= @category_description.category_name %>
</p>
 
<p>
  <strong>Category_description:</strong>
  <%= @category.Category_description %>
</p>
<%= link_to 'Back', controllers_path %>